:root {
    --color-background: grey;
    --color-foreground: #504c4cb2;
    --color-text: black;
    --color-text-secondary: rgb(87, 67, 67);
    --color-branding: orange;
    --color-branding-transparent: rgb(231, 191, 117);
    --color-text-link: rgb(180, 107, 229);
    --color-text-header: black;


    --color-alert: red;
    --color-success: green;
    --color-on-hover: purple;

    --box-shadow: 0px 10px 15px 0px black,
    0px 3px 3px 0px black !important;

    --box-shadow-hover:  0px 10px 15px 0px rgb(42, 112, 119),
    0px 3px 3px 0px rgb(75, 150, 164) !important;

    --spacing-0: 4px;
    --spacing-1: 8px;
    --spacing-2: 16px;
    --spacing-3: 24px;
    --spacing-4: 36px;
    --spacing-5: 64px;

    --radius: 4px;
    --radius-2: 8px;

}

html,
body {
    background: var(--color-background);
    color: var(--color-text-body)

}

p {
  margin: 0;
}